# port grpc server will listen on
GRPC_PORT=50051

# port grpc-gateway will listen on
GRPC_GATEWAY_PORT=8080


#how much time we will wait http response after request
HTTP_TIMEOUT=30s

#waiting for shutdown
SHUTDOWN_TIMEOUT=30s

#what level logger will be logging on
LOG_LEVEL=info